.sendmessage {
    margin-top: 100px!important;
    max-width: 1000px;
    /* max-height: 400px; */
    margin: 0 auto; /* To center the table horizontally */
    margin-right: 80px!important;
    
  }

  .form-row>.col,.form-row>[class*=col-] {
    padding-right: 5px!important;
    padding-left: 5px;
}

.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.custom-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio .radio-button {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ced4da;
  background-color: #fff;
  vertical-align: middle;
  position: relative;
  margin-left: 50px;
}

.custom-radio .radio-button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2277d8;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-radio input[type="radio"]:checked + .radio-button:before {
  opacity: 1;
}

  